.Note {
    width: 50%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 12px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 5px;
} 

h4 {
    text-align: center;
    text-decoration: underline;
}